body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #1a1a1a;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #fff;
    padding: 20px 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 20%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #cccccc;
    font-weight: bold;
}

nav a:hover {
    color: #000;
}

.search-bar {
    width: 30%;
    text-align: right;
}

.search-bar form {
    display: inline-block;
}

.search-bar input {
    padding: 10px;
    border: 1px solid #ccc;
}

.navbar {
    background-color: rgb(17, 72, 61);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    color: #cccccc;
}

.navbar div {
    padding: 0 0 0 20px;
}

.navbar ul {
    margin: 0;
    padding: 0 20px 0 0;
    display: flex;
    list-style: none;
    color: #cccccc;
}

.navbar span {
    padding: 0 5px;
}

.navbar li {
    margin-right: 15px;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    color: #1a1a1a;
    height: 76.2vh;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.info-sections {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
}

.info-section {
    text-align: center;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 45%;
}

.info-section h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

button {
    background-color: rgb(17, 72, 61);
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.list li {
    display: flex;
    justify-content: space-between;
}

.list li button {
    margin: 7px;
}

.list li p {
    margin-left: 10px;
}

.news-container {
    color: #1a1a1a;
    padding: 20px;
}

.news-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.news-list li {
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
}

.news-list li a {
    text-decoration: none;
    color: black;
}

.news-list li a:hover {
    color: #ccc;
}

.news-list li h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.news-list li p {
    font-size: 1rem;
}

.news-list li span {
    font-size: 0.8rem;
    color: #aaa;
}

form {
    width: 300px;
    margin: 30px auto;
    color: #1a1a1a;
    font-weight: bold;
}

input {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form span {
    color: red;
    font-size: 16px;
}

form #submit {
    background-color: rgb(17, 72, 61);
}

.list-container {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.list-container input {
    background-color: #f9f9f9;
    caret-color: black;
    color: black;
}

.list-container a {
    color: black;
}

.list {
    list-style: none;
    padding: 0;
}

.item {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.item:hover {
    background-color: #e9e9e9;
}

.item div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: auto;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.profile-container {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.info-item {
    margin-bottom: 10px;
}

label {
    font-weight: bold;
}

.profile-container span {
    display: block;
    padding: 5px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 3px;
}

span::selection {
    background-color: transparent;
}

.contacts-container {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.map-container {
    margin-bottom: 20px;
}

.useful-numbers,
.useful-links {
    margin-bottom: 20px;
}

.useful-numbers h3,
.useful-links h3{
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.delButton,
.editButton,
.save,
.cancel {
    height: 36px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: rgb(17, 72, 61);
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.delButtonUser {
    height: 36px;
    margin-top: 23px;
}

.editButtonUser {
    height: 36px;
    margin-top: 10px;
}

.editButton {
    margin: 0 0 0 0;
}

.delButton, .cancel {
    margin: 0 0 0 10px;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    animation: fadeIn 0.3s ease-in-out;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    width: 100%;
    animation: slideIn 0.3s ease-in-out;
    max-height: 600px;
    overflow-y: auto;
}

.popup-content::-webkit-scrollbar {
    width: 6px;
}

.popup-content::-webkit-scrollbar-track {
    background: transparent;
}

.popup-content::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 3px;
}

.popup-content h3 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
}

.popup-content input {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.popup-content .button-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.popup-content button {
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: rgb(17, 72, 61);
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.popup-content button:hover {
    background-color: #ddd;
}

.popup-content button.cancel {
    background-color: #f44336;
    color: white;
}

.popup-content ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.popup-content ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.popup-content ul li span {
    flex-grow: 1;
}

.popup-content ul li button {
    margin-left: 10px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.grades-list {
    list-style-type: none;
    padding: 0;
}

.grade-item {
    margin-bottom: 10px;
}

.grade-details {
    display: flex;
    align-items: center;
}

.grade-subject {
    font-weight: bold;
}

.grade-grade {
    margin-left: 10px;
}

.grade-actions {
    margin-left: auto;
}

.edit-mode .edit-input {
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.grade-actions, .absence-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.grade-actions .absence-actions button {
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: rgb(17, 72, 61);
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 10px;
}

.profile-container input {
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

td {
    color: #555;
}
